
.container{

    transition: filter 0.3s;
}
.editar-paciente-maior {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75%;
    height: 100%;
}

.editar-paciente {
    background-color: transparent;
    border-radius: 10px;
    width: 80%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
    padding: 5%;
    align-items: start;
    justify-content: start;
}

/* .editar-paciente input {
    width: 95%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    background-color: #d3dbe6;
}
.editar-paciente input:nth-child(11) {
    grid-column: span 2;
}

.editar-paciente label {

    color: white;
} */

.input-box {
    position: relative;
    flex: 1;
    margin: 5px;
}
.input-box input {
    width: 100%;
    padding: 4%;
    border: 1.9px solid #5A789F;
    border-radius: 5px;
    outline: none;
    color: #013a63;
}
.input-box label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 1.1em;
    color: #5A789F;
}

.barra-lateral-p {

    width: 25%;
    background-color: #6b81a5;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.botoes-maior-p {

    
    display: flex;
    justify-content: flex-start;
    padding: 80px 0 0 0;
    height: 30%;
    width: 90%;
}

.botoes-maior-p .botoes-p {

    display: flex;
    height: 22%;
    position: relative;

    &:hover {

      cursor: pointer;
    }
}

.loguinho-p {

    position: absolute;
    display: flex;
    left: 85%;
    top: 2.5%;
}

.container_oculto_editar{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width:55%;
    height: 550px;
    border-radius: 10px;
}

.nav_div_oculta{

    display: flex;
    align-items: center;
    background-color: rgb(200, 214, 233);
    width: 100%;
    height: 60px;
    border-radius: 10px;
   
}

.text_editar_foto_perfil{

    font-size: 20px;
    color: #013A63;
    font-weight: 600;
    padding-left: 2%;
}


/* Classe para aplicar o desfoque */
.blur {
    filter: blur(2px);
    opacity: 80%;
 
  }
  
  /* Estilo para a div oculta */

  
  /* Estilo para o botão de fechar */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container_oculta_corpo_geral{

    display: flex;
    width: 100%;
}

.container_oculta_corpo_esquerda{

    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quadrado_fotos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #919fa9;
    border-radius: 15px;
    height: 360px;
    width: 85%;
    
}

.fotos_editar{

    width: 22%;
}

.conatiner_button_selecionar_foto{

    padding-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button_selecionar_foto{

    background-color: #5A789F;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    width: 30%;
}

.container_oculta_corpo_direita{

    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_info_prvia{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    
}

.titulo_previa{

    color: #013A63;
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 8%;
    
}

.descricao_previa{

   
    color: #013A63;
    width: 80%;
    padding-bottom: 6%;
    padding-top: 3%;
}
.modelo_foto_redondo{

    padding:25%;
    border: 0.5px solid #919fa9;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    margin-right: 60px;
    
}
    