*{
    outline: none;
}
.editar-profissional-maior {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75%;
}

.editar-profissional {
    background-color: #5a7da096;
    border-radius: 10px;
    width: 100vh;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
    padding: 5%;
    align-items: start;
    margin-top: 5%;
}
.editar-profissional input {
    width: 95%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    background-color: #d3dbe6;
}
.editar-profissional input:nth-child(11) {
    grid-column: span 2;
}
.BTN-SALVAR {

    padding: 2%;
    position: relative;
    height: 5%;
    width: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;
}

.salvar-btn {
    
    position: relative;
    width: 22%;
    font-size: 15px;
    background-color: #5A789F;
    color: white;
    border: 1px solid #5a7da0;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    justify-self: end;
    padding: 1%;

    &:hover {

        background-color: white;
        color: #5a7da0;
        transition: 0.3s;
    }
}

.arvore-profissional {

    width: 35%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 43%;
}

.arvore-profissional img {

    width: 115%;
    height: 100%;
}

.editar-profissional label {

    color: white;
}

.cartao-experiencia-p input {
    
    border: none;
    background: none;
    width: 100%;
    color: white;
}

.cartao-experiencia-p input::placeholder {
    
    color: white;
}

.cartao-experiencia-p {
    
    width: 100%;
    padding: 4% 5% 4% 3%;
    border: 1.5px solid rgba(255, 255, 255, 0.706);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixa-comandos-p {

    width: 82%;
    height: 26%;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: end;
}

.corpoeditarpro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}