*{
    outline: none;
}

.editar-profissional-maior {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75%;
    height: 100%;
}

.editar-profissional {
    background-color: transparent;
    border-radius: 10px;
    width: 80%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
    padding: 5%;
    align-items: start;
    justify-content: start;
    margin: 12% 0 0 0;
}

.inpt-div {
    position: relative;
    flex: 1;
    margin: 5px;
}

.inpt-div input {
    width: 100%;
    padding: 4%;
    border: 1.9px solid #5A789F;
    border-radius: 5px;
    outline: none;
    color: #013a63;
    background-color: #f4f4f9;
}
.inpt-div label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #f4f4f9;
    padding: 0 5px;
    font-size: 1.1em;
    color: #5A789F;
}

.BTN-SALVAR {

    padding: 2%;
    position: relative;
    height: 5%;
    width: 43%;
    display: flex;
    justify-content: end;
    align-items: start;
    margin: 6.5% 0 0 30%;
}

.salvar-btn {
    
    position: relative;
    width: 50%;
    font-size: 15px;
    background-color: #5A789F;
    color: white;
    border: 1px solid #5a7da0;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    justify-self: end;
    padding: 2%;

    &:hover {

        background-color: white;
        color: #5a7da0;
        transition: 0.3s;
    }
}

.arvore-profissional {

    width: 35%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 43%;
}

.arvore-profissional img {

    width: 115%;
    height: 100%;
    opacity: 50%;
}

.cartao-experiencia-p input {
    
    border: none;
    background: none;
    width: 100%;
    color: white;
}

.cartao-experiencia-p input::placeholder {
    
    color: white;
}

.cartao-experiencia-p {
    
    width: 100%;
    padding: 4% 5% 4% 3%;
    border: 1.5px solid rgba(255, 255, 255, 0.706);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixa-comandos-p {

    width: 82%;
    height: 26%;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: end;
}

.corpoeditarpro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
