.container-inicio {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.img-fundo {

    position: absolute;
    top: 5%;
    width: 99%;
}

.img-fundo img {

    width: 100%;
}