.container-inicio {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.img-fundo {

    position: absolute;
    top: 5%;
    width: 99%;
}

.img-fundo img {

    width: 100%;
}

.filter-profissionais-div {

    /* background: #CAD7EB; */
    width: 83%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80%;
    gap: 40px;
}

.filter-profissionais-text {

    width: 100%;
    color: #013a63;
    padding: 0 0 0 10px;
}

.filter-background {

    width: 100%;
    background-color: #cad7ebe0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 2px 1px rgb(121, 120, 120);
}

.filter-profissionais-text h1 {
    font-weight: 550;
}

.filter-profissionais-container {

    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    position: relative;
}

.filtros-profissionais {

    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 30%;
}

.div-filtro{
  display: flex;
  width: 100%; 
  justify-content: end;
  
}

.filtros-profissionais .inpt-filtro {

    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    background-color: #5a7da0da;
    border-radius: 12px;
    padding: 0 2% 0 2%;
    height: 18%;
    width: 70%;
    color: white;
    gap: 10px;
}

.filtros-profissionais .inpt-filtro img {

    width: 4%;
}

.filtros-profissionais .inpt-filtro input {

    border: none;
    background-color: transparent;
    color: white;
    height: 100%;
}

.filtros-profissionais .inpt-filtro input::placeholder {

    color: white;
    opacity: 85%;
}

.filtros-profissionais .especialidade-filtro, .filtros-profissionais .abordagem-filtro {

    width: 80%;
}

.especialidade-filtro select, .abordagem-filtro select {
    
    border: none;
    color: white;
    border-radius: 10px;
    padding: 4%;
    width: 90%;
}

.abordagem-filtro select {

    background-color: #5a7da0;
}

.especialidade-filtro select {

    background-color: #61A5C2;
    opacity: 78%;
  }
  
  

.filter-profissionais-baixo {

    display: flex;
    width: 100%;
    height: 60%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.filter-profissionais-baixo .plano-saude-img {

    width: 80%;
    height: 100%;
}

.filter-profissionais-baixo .plano-saude-img img {

    width: 100%;
    height: 100%;
}

.filter-profissionais-baixo .div-filtrar {

    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
    gap: 15px;
    justify-content: center;
}

.div-btn-filtro {

    background-color: #5a7da0;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    cursor: pointer;
}

.text-btn-filtro {

    width: 100%;
    text-align: left;
    color: #013a63;
    /* padding: 5% 5% 0 5%; */
}

.div-btn-filtro .btn-filtro {

    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.div-btn-filtro img {

    width: 6%;
}

/* Container principal */
.resultados-container {
    width: 100%;
    margin: auto;
    padding: 40px 20px;
    background-color: #5a7da0d5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 80%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.resultado-texto-anota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 3% 0 0 0;
  }
  
  .resultado-frase h2 {
    font-size: 45px;
    color: white;
  }

  .botao-anota {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    padding: 0.5%;
    border-radius: 100px;
  }
  
  .swiper {

    width: 80%;
    padding: 2% 0;
  }
  
  .swiper-profi {
    display: flex;
    align-items: center;
    width: 100%;
    height: 68vh;
  }
  
  .swiper-profi .swiper-slide {
    width: 30%;
  }
  
  .card {
    background: #ffffff;
    padding: 10%;
    border-radius: 30px;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.15);
    text-align: left;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    justify-content: end;
    gap: 2%;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #2C3E50;
    margin-top: 1em;
  }
  
  .card .preco {
    font-size: 1em;
    font-weight: bold;
    color: #007bff;
  }
  
  .card .tags {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
    flex-wrap: wrap;
  }
  
  .card .tag {
    background: #e3eaf2;
    color: #546e7a;
    font-size: 0.85em;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: 500;
  }
  
  .card .sobre {
    font-size: 0.9em;
    color: #4A5A77;
    margin-top: 1em;
  }
  
  .card .abordagem {
    background: #F0F4F8;
    padding: 1em;
    border-radius: 8px;
    margin-top: 1em;
    font-size: 0.9em;
    font-weight: 500;
  }
  
  .card .crp {
    font-size: 0.8em;
    color: #78909C;
    margin-top: 1em;
    font-weight: 500;
  }
  
  /* Setas do Swiper */
  .swiper-button-next,
  .swiper-button-prev {
    color: #4A5A77 !important;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.6em;
  }
  
  .swiper-profi .swiper-scrollbar {
    background: transparent;
  }
  
  .swiper-profi .swiper-pagination-bullet-active {
    background-color: #00000066 !important;
  }
  
  /* Responsividade */
  @media (max-width: 1024px) {
    .swiper-profi {
        flex-wrap: wrap;
        justify-content: center;
    }
  
    .card {
        width: 90%;
    }
  }
  
  .foto-perfilInicio {
    display: flex;
    align-items: center;
  }
  
  .perfil-nomeValor {
    padding-left: 5%;
    color: #013A63;
    font-size: 1.1em;
  }
  
  .div-especializacao {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
    margin-top: 10px;
  }
  
  .especializacao-style {
    background-color: #5a789f7c;
    color: white;
    width: 90%;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
  }
  
  .sobremim-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }
  
  .textSobremim {
    border: 1px solid #013a6385;
    padding: 4%;
    border-radius: 20px;
    font-size: 0.8em;
    color: #546e7aaf;
    width: 100%;
    margin-top: 3%;
    margin-right: 2%;
  }
  
  .crp-inicio {
    display: flex;
    justify-content: end;
    margin-top: 5%;
    color: #013A63;
  }
  
  .swiper-wrapper-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .swiper-filho {

    width: 80%;
  }
  
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: white;
  }
  
  .swiper-button-prev-custom:hover,
  .swiper-button-next-custom:hover {
    scale: 1.05;
    color: #013a63;
    transition: 0.3s;
  }
  
  .swiper-button-prev-custom {
    left: 50px;
  }
  
  .swiper-button-next-custom {
    right: 50px;
  }
  