
*{
    margin: 0;
}

/*parte um da tela*/

.container-geral_landing_um{

    display: flex;
    height:800px;

}

.container-geral_landing_esquerda_um{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.container_info_inicio_landing{

    width: 100%;
    height: 420px;
    padding-bottom: 5%;

}

.container_h1_equilibrio{

    width: 40ch;
    font-family: sans-serif;
    font-size: 1.7em;
    color: #013A63;
    padding-left: 16%;
}

.container_p_moldamos{

    width: 48ch;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #013A63;
    padding-left: 16%;
    padding-top: 4%;
}

.container_button_comece_ja{

    width: 100ch;
    padding-left: 16%;
    padding-top: 6%

}

.button_comece_ja{

    background-color: #013A63;
    color: white;
    border: none;
    padding: 15px;
    font-weight: 600;
    width: 46%;
    border-radius: 20px;
    font-size: 1.4em;
    opacity: 85%;
}

.container-geral_landing_direita_um{

    width: 50%;
}

.container-test-um{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 800px;
    padding-top: 7%;
      
}

.cilindro_um_equilibrio{
     
     display: flex;
     flex-direction: column;
     background-color: #013A63;
     color: #013A63;
     width: 65%;
     border-top-left-radius: 120px ;
     border-bottom-left-radius: 120px;
     align-items: center;
     height: 140px;
    
}

.cilindro_dois_equilibrio{

    display: flex;
     flex-direction: column;
     background-color: #5A789F;
     color: #5A789F;
     width: 70%;
     border-top-left-radius: 120px ;
     border-bottom-left-radius: 120px;
     align-items: center;
     height: 140px;
}

.cilindro_tres_equilibrio{

     display: flex;
     flex-direction: column;
     background-color: #C1DFF4;
     color: #C1DFF4;
     width: 85%;
     border-top-left-radius: 120px ;
     border-bottom-left-radius: 120px;
     align-items: center;
     height: 140px;
}

.cilindro_quatro_equilibrio{

     display: flex;
     flex-direction: column;
     background-color: #2B4A60;
     color: #2B4A60;
     width: 55%;
     border-top-left-radius: 120px ;
     border-bottom-left-radius: 120px;
     align-items: center;
     height: 140px;
}

.imagem_computador{

      position: absolute;
      width: 35%;
      padding-top: 8%;
      padding-right: 5%;
}

/*parte dois da tela*/

.container-geral_landing_dois{

    display: flex;
    height: 800px;
    padding-top: 10px;
}

.container_info_emocional_esquerda{

    width: 50%;

}

.container_cilindros_emocional{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 800px;
    
}

.cilindro_um_emocional{

     display: flex;
     flex-direction: column;
     background-color: #013A63;
     color: #013A63;
     width: 60%;
     border-top-right-radius: 120px ;
     border-bottom-right-radius: 120px;
     align-items: center;
     height: 140px;
}

.cilindro_dois_emocional{

    display: flex;
    flex-direction: column;
    background-color: #C1DFF4;
    color: #C1DFF4;
    width: 65%;
    border-top-right-radius: 120px ;
    border-bottom-right-radius: 120px;
    align-items: center;
    height: 140px;
}

.cilindro_tres_emocional{

    display: flex;
    flex-direction: column;
    background-color: #013A63;
    color: #013A63;
    width: 80%;
    border-top-right-radius: 120px ;
    border-bottom-right-radius: 120px;
    align-items: center;
    height: 140px;
}

.cilindro_quatro_emocional{

    display: flex;
    flex-direction: column;
    background-color: #C1DFF4;
    color: #C1DFF4;
    width: 50%;
    border-top-right-radius: 120px ;
    border-bottom-right-radius: 120px;
    align-items: center;
    height: 140px;
}

.imagem_emocional{

    position: absolute;
    width: 28%;
    padding-left: 15%;
    padding-top: 6%;
}
.container_info_emocional_direita{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_text_emocional{

    width: 55%;
    font-family: sans-serif;
    color: #013A63;
    padding-top: 11%;
    padding-right: 15%;
    line-height: 1.3;
}

.text_emocional{

    font-size: 2.5em;
    opacity: 80%;
}

.container_p_text_emocional{

    width: 69%;
    font-family: sans-serif;
    color: #013A63;
    padding-top: 4%;
    font-size: 1.1em;
    line-height: 1.5;

}

/* parte tres da tela */

.container-geral_funcionamento{

    display: flex;
    width: 100%;
    height: 500px;
}

.container-geral_funcionamento_esquerda{

    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: #C1DFF4;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    align-items: center;
    
}

.conatainer_text_h1_funcionamento{

    font-family: sans-serif;
    width: 80ch;
    padding-top: 10%;
    
}

.text_h1_funcionamento{

    width: 40%;
    color: #013A63;
}

.container_text_p_funcionamento{

    width: 85%;
    padding-top: 4%;
    
}

.text_p_funcionamento{

    color: #013A63;
    font-family: sans-serif;
    line-height: 1.5;
    width: 91%;
}

.container-geral_funcionamento_direita{

    width: 45%;
}