* {
  margin: 0;
}

@media (max-width: 1600px) {
  .container_p_moldamos {
    width: 100%;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #013a63;
    padding-left: 16%;
    padding-top: 4%;
  }

  .container_h1_equilibrio {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.7em;
    color: #013a63;
    padding-left: 16%;
  }

  .imagem_computador {
    position: absolute;
    width: 40%;
    padding-top: 8%;
    padding-right: 5%;
  }
  .cilindro_empresa_um {
    width: 25%;
    background-color: #2b4a60;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 460px;
    margin-top: 60px;
    margin-left: 20px;
    padding-top: 55%;
  }

  .cilindro_empresa_dois {
    width: 25%;
    background-color: #5a789f;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 760px;
    margin-top: -240px;
    padding-top: 55%;
  }

  .cilindro_empresa_tres {
    width: 25%;
    background-color: #c1dff4;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 620px;
    margin-top: -100px;
    padding-top: 55%;
  }

  .cilindro_empresa_quatro {
    width: 25%;
    background-color: #013a63;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 500px;
    margin-top: 20px;
    padding-top: 55%;
  }
}

@media (min-width: 1700px) {
  .container_h1_equilibrio {
    width: 75%;
    font-family: sans-serif;
    font-size: 1.7em;
    color: #013a63;
    padding-left: 16%;
  }
  .container_p_moldamos {
    width: 80%;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #013a63;
    padding-left: 16%;
    padding-top: 4%;
  }

  .imagem_computador {
    position: absolute;
    width: 38%;
    padding-top: 2.5%;
    padding-right: 3%;
  }

  .cilindro_empresa_um {
    width: 25%;
    background-color: #2b4a60;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height: 460px;
    margin-top: -24px;
    margin-left: 20px;
    padding-top: 55%;
  }

  .cilindro_empresa_dois {
    width: 25%;
    background-color: #5a789f;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height: 760px;
    margin-top: -259px;
    padding-top: 55%;
  }

  .cilindro_empresa_tres {
    width: 25%;
    background-color: #c1dff4;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height: 621px;
    margin-top: -120px;
    padding-top: 55%;
  }

  .cilindro_empresa_quatro {
    width: 25%;
    background-color: #013a63;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height: 500px;
    margin-top: -24px;
    padding-top: 55%;
  }
}

/*parte um da tela*/

.container-geral_landing_um {
  display: flex;
  height: 800px;
}

.container-geral_landing_esquerda_um {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_info_inicio_landing {
  width: 100%;
  height: 420px;
  padding-bottom: 60%;
}

.container_button_comece_ja {
  width: 100%;
  padding-left: 16%;
  padding-top: 6%;
}

.button_comece_ja {
  background-color: #013a63;
  color: white;
  border: none;
  padding: 15px;
  font-weight: 600;
  width: 60%;
  border-radius: 20px;
  font-size: 1.4em;
}

.container-geral_landing_direita_um {
  width: 50%;
}

.container-test-um {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 800px;
  padding-top: 7%;
}

.cilindro_um_equilibrio {
  display: flex;
  flex-direction: column;
  background-color: #013a63;
  color: #013a63;
  width: 65%;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_dois_equilibrio {
  display: flex;
  flex-direction: column;
  background-color: #5a789f;
  color: #5a789f;
  width: 70%;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_tres_equilibrio {
  display: flex;
  flex-direction: column;
  background-color: #c1dff4;
  color: #c1dff4;
  width: 85%;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_quatro_equilibrio {
  display: flex;
  flex-direction: column;
  background-color: #2b4a60;
  color: #2b4a60;
  width: 55%;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  align-items: center;
  height: 140px;
}

/*parte dois da tela*/

.container-geral_landing_dois {
  display: flex;
  height: 800px;
  padding-top: 10px;
}

.container_info_emocional_esquerda {
  width: 50%;
}

.container_cilindros_emocional {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 800px;
}

.cilindro_um_emocional {
  display: flex;
  flex-direction: column;
  background-color: #013a63;
  color: #013a63;
  width: 60%;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_dois_emocional {
  display: flex;
  flex-direction: column;
  background-color: #c1dff4;
  color: #c1dff4;
  width: 65%;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_tres_emocional {
  display: flex;
  flex-direction: column;
  background-color: #013a63;
  color: #013a63;
  width: 80%;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  align-items: center;
  height: 140px;
}

.cilindro_quatro_emocional {
  display: flex;
  flex-direction: column;
  background-color: #c1dff4;
  color: #c1dff4;
  width: 50%;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  align-items: center;
  height: 140px;
}

.imagem_emocional {
  position: absolute;
  width: 42%;
  padding-left: 15%;
  padding-top: 6%;
}
.container_info_emocional_direita {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_text_emocional {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: sans-serif;
  color: #013a63;
  padding-top: 11%;
  line-height: 1.3;
}

.text_emocional {
  font-size: 2.5em;
  opacity: 80%;
  width: 80%;
}

.container_p_text_emocional {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #013a63;
  padding-top: 4%;
  font-size: 1.2em;
  line-height: 1.5;
}

/* parte tres da tela */

.container-geral_funcionamento {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #c1dff4;
}

.container-geral_funcionamento_esquerda {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  align-items: center;
  justify-content: center;
}

.conatainer_text_h1_funcionamento {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.text_h1_funcionamento {
  width: 100%;
  flex-wrap: wrap;
  color: #013a63;
}

.container_text_p_funcionamento {
  width: 100%;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text_p_funcionamento {
  color: #013a63;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  width: 100%;
  padding-left: 10%;
}

.container-geral_funcionamento_direita {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem_funcional {
  width: 70%;
}

.container_text_bem-estar {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: -5%;
}

.h1_empresas {
  color: #013a63;
  padding-top: 20%;
}

.h1_bem-estar {
  color: #61a5c2;
  padding-left: 10px;
  padding-top: 20%;
}

.container_bem-estar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}

.container_imagems_empresas {
  width: 13%;
  padding: 15px;
  padding-left: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 5px rgb(135, 135, 135);
  border: 1px solid rgb(134, 134, 134);
}

.imagems_empresas_parceiras {
  width: 80%;
}

/* parte cinco tela*/

.container-geral_empresas_parceiras {
  display: flex;
  padding-top: 10%;
  height: 1000px;
}

.container-geral_empresas_parceiras_esquerda {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_esquerdo_info_empresas {
  width: 100%;
  padding-bottom: 10%;
}

.container_text_empresas_parceiras {
  width: 100%;
}

.text_h1_empresas_parceiras {
  color: #013a63;
  font-size: 2.2em;
  padding-left: 12%;
  font-family: sans-serif;
}

.container_text_p_empresas_parceiras {
  width: 100%;
  font-size: 1.4em;
  padding-top: 5%;
}

.text_p_empresas_parceiras {
  color: #013a63;
  padding-left: 12%;
  width: 85%;
}

.container_button_empresas_parceiras {
  width: 100%;
  padding-left: 12%;
  padding-top: 6%;
}

.button_empresas_parceiras {
  width: 45%;
  background-color: #013a63;
  border: none;
  border-radius: 20px;
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.container-geral_empresas_parceiras_direita {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_info_cilindros_empresas {
  width: 100%;
  display: flex;
  height: 175px;
}

.container_modal{

    display: block;
    width: 100%;
    height: 100%;
}



.container_modal_opcoes{

    display: flex;
    width: 100%;
    height: 80%;
  
}

.container_text_voltar{

  display: flex;
  width: 100%;
  height: 10%;
  padding-right: 3.5%;
  justify-content: end;
  align-items: center;
}

.button_voltar{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  color: #ffffff;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #013A63;
  background-color: #013A63;
  font-size:100%;
  height: 60%;
}


.esquerda_modal {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_img{

    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #C1DFF4;
    border-radius: 15px;
}
.container_img img{

    height: 70%;
}

.container_text_escolha{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_escolha{

    color: #013A63;
}

.direita_modal {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes stretchAnimation {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.1);
  } /* Aumentei a escala vertical */
  100% {
    transform: scaleY(1);
  }
}

/* Diferentes delays para um efeito natural */
.cilindro_empresa_um {
  animation: stretchAnimation 3s ease-in-out infinite;
  transform-origin: bottom;
  animation-delay: 0s;
}
.cilindro_empresa_dois {
  animation: stretchAnimation 3s ease-in-out infinite;
  transform-origin: bottom;
  animation-delay: 1s;
}
.cilindro_empresa_tres {
  animation: stretchAnimation 3s ease-in-out infinite;
  transform-origin: bottom;
  animation-delay: 2s;
}
.cilindro_empresa_quatro {
  animation: stretchAnimation 3s ease-in-out infinite;
  transform-origin: bottom;
  animation-delay: 3s;
}

@keyframes slideAnimation {
  0% {
    width: 50%;
  }
  50% {
    width: 100%;
  } /* Expande para o lado */
  100% {
    width: 50%;
  }
}

/* Diferentes delays para um efeito mais natural */
.cilindro_um_emocional {
  animation: slideAnimation 7s ease-in-out infinite;
  animation-delay: 0s;
}
.cilindro_tres_emocional {
  animation: slideAnimation 7s ease-in-out infinite;
  animation-delay: 2s;
}
.cilindro_quatro_emocional {
  animation: slideAnimation 7s ease-in-out infinite;
  animation-delay: 3s;
}
.cilindro_dois_emocional {
  animation: slideAnimation 7s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes sAnimation {
  0% {
    width: 50%;
  }
  50% {
    width: 100%;
  } /* Expande para o lado */
  100% {
    width: 50%;
  }
}

/* Diferentes delays para um efeito mais natural */
.cilindro_um_equilibrio {
  animation: sAnimation 7s ease-in-out infinite;
  animation-delay: 0s;
}
.cilindro_tres_equilibrio {
  animation: sAnimation 7s ease-in-out infinite;
  animation-delay: 1s;
}
.cilindro_quatro_equilibrio {
  animation: sAnimation 7s ease-in-out infinite;
  animation-delay: 1.5s;
}
.cilindro_dois_equilibrio {
  animation: sAnimation 7s ease-in-out infinite;
  animation-delay: 2s;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  animation: fadeOutContainer 0.5s ease-out 2s forwards;
}

.logo-animada {
  width: 250px;
  height: auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards, fadeOut 0.5s ease-out 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fadeOutContainer {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
