.container-tela-agendamento_geral{
       
    background-color: white;
    display: flex;
    height: 100vh;
    background-image: url("arvore.svg");
    background-repeat: no-repeat;

    & .container-tela-agendamento_esquerda {
        
        width: 60%;
        

        & .container {
          
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 800px;
          align-items: center;
          justify-content: center;
         

          & .container_retangulo_um{

            background-color: #5A789F;
            opacity: 50%;
            width: 60%;
            height: 350px;
            border-radius: 15px;
          }

          & .container_retangulo_dois{

            background-color: #5A789F;
            opacity: 50%;
            width: 60%;
            height: 250px;
            border-radius: 15px;
            margin-top: 20px;
          }
        }
    }

    & .container_tela_agendamento_direita{

        background-color: #5A789F;
        width: 40%;
        
        

    }
}