.body-termos {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

/* div::-webkit-scrollbar-track{

    background: #ffffff;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--cor-1);
  border-radius: 3px;
}

div::-webkit-scrollbar{


    width: 12px;
} */

.botaodecisao {
  width: 13%;
  font-size: 1.2em;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
  transition: 1s;
  background-color: #cad7eb;
  color: #5a789f;
  padding: 1.2%;
  text-align: center;
  text-decoration: none;
}

.botaodecisaodois {
  width: 13%;
  font-size: 1.2em;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  transition: 1s;
  background-color: #5a789f;
  color: #ffffff;
  padding: 2%;
  text-align: center;
  text-decoration: none;
}

.divBotoes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  background-color: #ffffff;
}

.container_bola_um {
  width: 8%;
  background-color: #cad7eb;
  margin-left: 92%;
  height: 200px;
  position: absolute;
  margin-top: 8%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container_bola_dois {
  width: 1%;
  background-color: #cad7eb;
  margin-left: 68%;
  height: 20px;
  padding: 12px;
  position: absolute;
  margin-top: 33%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.container_bola_tres {
  width: 1%;
  background-color: #cad7eb;
  margin-left: 22%;
  height: 20px;
  padding: 35px;
  position: absolute;
  margin-top: 37%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.container_bola_quatro {
  width: 1%;
  background-color: #cad7eb;
  margin-left: 65%;
  height: 20px;
  padding: 35px;
  position: absolute;
  margin-top: 62%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.conatiner_bola_cinco {
  width: 8%;
  background-color: #cad7eb;
  height: 200px;
  position: absolute;
  margin-top: 55%;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.T_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160%;
  color: #5a789f;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.textinho {
  margin: auto;
  align-items: center;
  text-align: justify;
  width: 40%;
  color: #5a789f;
  font-size: 1.6em;
  padding-top: 3%;
  line-height: 150%;
  font-weight: 600;
  background-color: #ffffff;
}

.introducao {
  background-color: #ffffff;
  width: 100%;
}

.text_prioridade {
  padding-top: 5%;
  padding-bottom: 2%;
  width: 100%;
}

.text_comprometendo {
  padding-top: 5%;
  padding-bottom: 5%;
}

.container_acodions {
  width: 100%;
  padding-top: 15%;
  background-color: #ffffff;
}

.accordion-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  padding-bottom: 2.5%;
  background-color: #ffffff;
}

.accordion-container-final {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 2.5%;
  background-color: #ffffff;
  padding-bottom: 10%;
}

.textinhoAceitação {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: #5a789f;
  font-size: 110%;
  line-height: 150%;
  font-weight: 600;
  width: 60%;
}

.css-1i4ywhz-MuiCollapse-wrapperInner {
  background-color: #ffffff;
}

.titulo_ac_um {
  color: #5a789f;
  font-size: 250%;
  padding-top: 3%;
  line-height: 150%;
  font-weight: 600;
}

.container_ac {
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: 2px solid #61a5c2;
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 4rem !important;
  color: #5a789f;
}

.back-button-pt{
  background-color: transparent;
  border: none;
  padding: 2%;
}
