.container-agendamento {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    min-height: 100vh;
    background-color: #cad7eb;
  }

  .left-panel,
  .right-panel {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .left-panel {
    width: 50%;
  }

  .right-panel {
    width: 50%;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #013a63;
  }

  .dropdown,
  .horario-btn,
  .confirm-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #d1d5db;
  }

  .horarios-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .fileira-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .horarios-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
  }

  .horarios-container::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
  }

  .scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #5a789f;
    flex-shrink: 0;
  }

  .scroll-button:hover {
    color: rgb(53, 95, 173);
  }

  .confirm-button {
    background-color: #5a789f;
    color: white;
    font-weight: bold;
    border: none;
  }

  .confirm-button:hover {
    background-color: rgb(53, 95, 173);
  }