.container-boleto{
    width: 100%;
    min-height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-codigoBarras{
    width: 90%;
    height: 10%;
    padding-bottom: 2%;
}

.move-codeBarras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}